# Postgres / PostGIS
DATABASE_URL=postgresql+psycopg2://wfw:wfw@localhost:5433/wildfirewatch

# MinIO (S3-compatible)
S3_ENDPOINT_URL=http://localhost:9000
S3_ACCESS_KEY=wfwminio
S3_SECRET_KEY=wfwminio123
S3_RAW_BUCKET=wildfirewatch-raw
S3_PROCESSED_BUCKET=wildfirewatch-processed
S3_REGION=us-east-1

# STAC
STAC_API_URL=https://earth-search.aws.element84.com/v1
STAC_COLLECTION=sentinel-2-l2a
